<h1>admin</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add Product</button>
&nbsp;
<button type="button" class="btn btn-primary" routerLink="/Editproducts">view Product</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #product="ngForm">
          <div class="mb-3">
            <label for="id" class="col-form-label">Product ID:</label>
            <input type="text" class="form-control"  name="pid" #productid=ngModel [(ngModel)]="pid">
          </div>
          <div class="mb-3">
            <label for="productname" class="col-form-label">Product Name:</label>
            <input class="form-control" name="pname" #productname=ngModel [(ngModel)]="pname"/>
          </div>
          <div class="mb-3">
            <label for="price" class="col-form-label">Image:</label>
            <input type="text" class="form-control" name="url"  #productimage=ngModel [(ngModel)]="url"/>
          </div>
          <div class="mb-3">
            <label for="quantity" class="col-form-label">Quantity:</label>
            <input class="form-control" name="quantity"  #productquantity=ngModel [(ngModel)]="quantity"/>
          </div>
          <div class="mb-3">
            <label for="price" class="col-form-label">Price:</label>
            <input class="form-control" name="price"  #productprice=ngModel [(ngModel)]="price"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="Addproduct(product.value)"  class="btn btn-primary">Add product</button>
      </div>
    </div>
  </div>
</div>

<script>
  var exampleModal = document.getElementById('exampleModal')
exampleModal.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var recipient = button.getAttribute('data-bs-whatever')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  var modalTitle = exampleModal.querySelector('.modal-title')
  var modalBodyInput = exampleModal.querySelector('.modal-body input')

  modalTitle.textContent = 'New message to ' + recipient
  modalBodyInput.value = recipient
})
</script>
